.user-Container {
    width: 100%;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 5px;
    background-color: antiquewhite;
    border: solid rgb(23, 3, 3);
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.user-table {
    width: 80%;
    height: 65vh;
    scrollbar-width: none;
    overflow-y: scroll;
  
}



.refresh-button{
    background: #000;
    border: white 2px solid;
    border-radius: 10px;
    margin-left:75% ;
}

.view-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


